<div class="container">
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="signupForm" (ngSubmit)="handleSubmitForm()">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingName" placeholder="Name" formControlName="name"
              [class.is-invalid]="f['name'].invalid && f['name'].touched">
            <label for="floatingInput">Name</label>
          </div>
          <div class="alert alert-danger" *ngIf="f['name'].invalid && f['name'].touched">
            <div *ngIf="f['name'].errors && f['name'].errors['required']">
              Name is required
            </div>
            <div *ngIf="f['name'].errors && f['name'].errors['minlength']">
              Minimum 3 characters required
            </div>
            <div *ngIf="f['name'].errors && f['name'].errors['maxlength']">
              Maximum 20 characters required
            </div>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingCity" placeholder="City" formControlName="city"
              [class.is-invalid]="f['city'].invalid && f['city'].touched">
            <label for="floatingCity">City</label>
          </div>
          <div class="alert alert-danger" *ngIf="f['city'].invalid && f['city'].touched">
            <div *ngIf="f['city'].errors && f['city'].errors['required']">
              City is required
            </div>
            <div *ngIf="f['city'].errors && f['city'].errors['minlength']">
              Minimum 3 characters required
            </div>
            <div *ngIf="f['city'].errors && f['city'].errors['maxlength']">
              Maximum 20 characters required
            </div>
          </div>
          <br>
          <div class="col-12 form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                #d="ngbDatepicker" [placement]="placement" [positionTarget]="buttonEl" formControlName="dateOfBirth"
                [class.is-invalid]="f['dateOfBirth'].invalid && f['dateOfBirth'].touched" />
              <button #buttonEl class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
                <img src="https://img.icons8.com/?size=100&id=16152&format=png&color=000000"
                  style="width: 1.5rem; height: 1.5rem; cursor: pointer;" />
              </button>
            </div>
            <div class="alert alert-danger" *ngIf="f['dateOfBirth'].invalid && f['dateOfBirth'].touched">
              <div *ngIf="f['dateOfBirth'].errors && f['dateOfBirth'].errors['required']">
                Date of Birth is required
              </div>
            </div>
            <div *ngIf="f['dateOfBirth'].errors && f['dateOfBirth'].errors['min']">
              Minimum age is 18
            </div>
            <div *ngIf="f['dateOfBirth'].errors && f['dateOfBirth'].errors['max']">
              Minimum age is 60
            </div>
          </div>
          <br>
          <div class="form-floating form-group">
            <input type="number" class="form-control" id="floatingAge" placeholder="Age" fromControlName="age">
            <label for="floatingAge">Age</label>
          </div>
          <br>
          <div class="form-floating mb-3 form-group">
            <input type="text" class="form-control" id="floatingId" placeholder="UniqueId" formControlName="unique_id"
              [class.is-invalid]="f['unique_id'].invalid && f['unique_id'].touched">
            <label for="floatingId">Unique Id</label>
          </div>
          <div class="alert alert-danger" *ngIf="f['unique_id'].invalid && f['unique_id'].touched">
            <div *ngIf="f['unique_id'].errors && f['unique_id'].errors['required']">
              Unique Id is required
            </div>
          </div>
          <div *ngIf="f['unique_id'].errors && f['unique_id'].errors['min']">
            Minimum 3 characters required
          </div>
          <div *ngIf="f['unique_id'].errors && f['unique_id'].errors['max']">
            Maxmum 20 characters required
          </div>
          <div class="form-floating form-group">
            <input type="text" class="form-control" id="floatingCid" placeholder="Confirm Unique Id"
              formControlName="confUniqueId" [class.is-invalid]="f['confUniqueId'].invalid && f['confUniqueId'].touched">
            <label for="floatingCid">Confirm Unique Id</label>
          </div>
          <div class="alert alert-danger" *ngIf="f['confUniqueId'].invalid && f['confUniqueId'].touched">
            <div *ngIf="f['confUniqueId'].errors && f['confUniqueId'].errors['required']">
              Confirm Unique Id is required
            </div>
          </div>
          <div *ngIf="f['confUniqueId'].errors && f['confUniqueId'].errors['min']">
            Minimum 3 characters required
          </div>
          <div *ngIf="f['confUniqueId'].errors && f['confUniqueId'].errors['max']">
            Maxmum 20 characters required
          </div>
          <br>
          <div class="d-grid">
            <input type="submit" class="btn btn-primary" value="submit">
          </div>
        </form>
      </div>
    </div>
  </div>